@import-normalize; /* bring in normalize.css styles */
@font-face {
  font-family: 'KodeMone';
  src: url('/src/components/Fonts/KodeMono-SemiBold.ttf');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'KodeMone';
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
